   @import url(index1.html);
   .table { 
    width: 100%; /* Ширина таблицы */
    border: 0px double black; /* Рамка вокруг таблицы */
    border-radius: 10px;/*Радиус закругления*/
   }
   .th { 
   color: rgb(102, 102, 106);/*Цвет текста*/
    text-align: center; /* Выравнивание по центру */
    background: rgb(221, 220, 220); /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек, высота ячейки*/
    border: 1px solid black; /* Граница вокруг ячеек */
    border-radius: 10px; /*Радиус закругления*/
   }