.NvBlock{
    padding-top: 0.1px;
    vertical-align: top;
    max-height: 15em;
}
.Left{
    float: left;
    width: 15em;
    height: 300px;
    background-color: #DCDCDC;
}
.RightTop{
    padding-top: 0.1px;
    background-color: #A9A9A9;
    margin-bottom: 0.2em;
    margin-left: 15em;
}
.RightBottom{
    padding-top: 0.1px;
    background-color: #A9A9A9;
    margin-bottom: 0.2em;
    margin-left: 15em;
}
.Goom{
    clear: both;
}
.footer{
        background-color: #A9A9A9;
    clear: both;
}
.pic{
    float: right;
    width: 70px;
}
.wrag{
    background-color: rgb(166, 18, 48);
}